
@font-face { /*linkando a fonte baixada do Google */
    font-family: "OpenSans";
    src: url(../Assets/OpenSans-Regular.ttf); /* tstf é usado para verificar erro de fone não aparecer*/
}

@font-face { 
    font-family: "OpenSans-Condensed";
    src: url(../Assets/OpenSans_Condensed-Regular.ttf); /* tstf é usado para verificar erro de fone não aparecer*/
}

@font-face { 
    font-family: "OpenSans-Italic";
    src: url(../Assets/OpenSans-Italic.ttf); /* tstf é usado para verificar erro de fone não aparecer*/
}


body {
    background-image:linear-gradient(to right, #571C56, #1A5678, #201F41);
    margin: 0;
}

/*HEADER*/

nav ul{
    margin: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
    color: #EFF0EB;
    font-size: larger;
    font-family: 'OpenSans';
}

nav a{
    color: inherit;
    text-decoration: none !important; 
    cursor: pointer;
}

nav {
    
}
#header-container{

}

/*
nav{
    color: palevioletred;
    font-size: larger;
    font-family: 'OpenSans' !important;
}
*/

.container{
    font-size: larger;
    font-family: 'OpenSans-Condensed';
    
}
